# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environment
venv/
.env/

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs and local database
*.log
*.sqlite3

# Python cache
*.pyc
*.pyo
*.pyd

# VS Code settings
.vscode/

# System files
.DS_Store
Thumbs.db

# Environment files
*.env
.envrc
