<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>
    {% if form.errors %}
        <p style="color: red;"> Invalid user name or password</p>
    {% endif %}
    
    <form method="POST">
        {% csrf_token %}
        <label for="id_username">Username</label>
        {{ form.username }} ,<br> <br> 
        <label for="id_password">Password</label>
        {{ form.password }} ,<br> <br>
        <button type="submit">Login</button>
    </form>
</body>
</html>